<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.thinkerxana.hissetello"
    version   = "1.0.0">

<name>Icon and Splash Demo</name>

<description>
Basic application to test and demonstrate icons and splash screens.
</description>

<author href="https://build.phonegap.com" email="rufat@think.az">
Bax bele</author>

<preference name="phonegap-version" value="1.7.0" />

<!-- Icons -->


</widget>