<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/2.0"
        id        = "com.think2.hisset5"
        version   = "2.0.0">
        
    <name>Hisset Think</name>

    <description>
       Hisset Desk
    </description>

    <author href="http://think.az" email="rufat@think.az">
        Think LLC
    </author>

    <feature name="http://api.phonegap.com/2.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

</widget>